@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');
 
:root {
    font-family: 'Ubuntu', sans-serif;
    --main-color: black;
}

body {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}
.logo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    color: blue;
}

.menu a {
    display: block;
    text-decoration: none;
    text-align: auto;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 8px; 
}
.menu a:hover {
    color: #edc02d; 
}

.button {
    padding: 0.35em 1.2em;
    border: 0.1em  rgb(241, 239, 239);
    margin: 0 0.3em 0.3em 0;
    border-radius: 15px;
    color: rgb(153, 0, 255);
    text-align: center;
    transition: color 0.7s;
    background-color: #ffdd00;
}

.button:hover {
    color: #00a6ff;
    background-color:#FFFFFF;
    cursor: pointer;
}

.button2 {
    padding: 0.35em 1.2em;
    border: 0.1em solid transparent;
    margin: 0 0.3em 0.3em 0;
    border-radius: 15px;
    color: rgba(255, 230, 0, 0.712);
    text-align: center;
    transition: color 0.7s;
    background-color: transparent;
}

.button2:hover {
    color: #00ff9d;
    background-color: #FFFFFF;
    cursor: pointer;
}
.button3 {
    padding: 0.35em 1.2em;
    border: 0.2em solid yellow;
    margin: 0 0.3em 0.3em 0;
    border-radius: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    transition: color 0.7s;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button3:hover {
    color: white;
    background-color: #17c5ff;
    cursor: pointer;
}


@media (min-width: 767px) {
    header nav {
        display: flex;
    }
    header nav .menu {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
    }
    footer nav {
        display: flex;
    }
    footer nav .menu {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
    }
    .services-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
    }
    .services-list img {
        width: 250px;
        height: auto;
        margin: auto;
    }
    .pricing-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    .offer-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;

    }
    .club-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    .gift-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
    }
    .contact {
        display: grid;
        max-width: 1100px;
        max-height: 700px;
        grid-template-columns: 550px 550px;
        grid-template-rows: 300px 150px;
        rid-column-gap: 30px;
    }

}

.banner {
    background-image: url(../img/iguazu-unvisible.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner {
    text-align: center;
    color: white;
}
.services-list {
    margin: 6%;
    text-size-adjust: auto;
    
}

article h3 {
    color: #00a6ff; 
}
.serve {
    display: block;
    color: #7c7b78;
    text-align: center;
}
.services-card {
    text-align: start;
}
.services-card p {
    color: #6e6e6e;
    text-decoration: none;
    letter-spacing: 0;
    line-height: 22pt;    
}
.services-list img {
    width: 100%;
    display: ;
    margin: auto;
}

.price {
    background-color:#fafafae8;
    padding: 10px;
}


main {
    text-align: center;
}
.gift-list {
    text-align: left;
}
#pricing {
    font-size: 40px; 
}
article.pricing-card h4 {
    color: #0099ff;
    margin: 30px;
}
.pricing-card {
    background-color: white;
    border: 0.1em solid #FFFFFF;
    border-top-color: #edc02d;
    border-top-width: 5px;
    min-height: 350px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
}
.pricing-card p {
    color: #6e6e6e;
    font-size: 1em;
    text-align: center;
    line-height: 22pt;
}
.pricing-card a {
    font-size: 1.4em;
}
.pricing-card h4 {
    font-size: 1.5em;
}

.offers {
    color: white;
    background-image: url(../img/how-to-clean.jpeg);
    max-width: 1100px;
    max-height: auto;
    padding: 10px;
}
.offer-list { 
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(58, 58, 58, 0.53);
    color: white;
}
.offer {
    max-width: 300px;
    max-height: auto;
    margin: auto;
    padding: 20px;  
}
.offer h5 {
    font-size: 1.3rem;
}
.offer p {
    font-size: inherit;
    color: #e1e1e1;
    line-height: 22pt;
}
.offers h4 {
    font-size: 2rem;
}
.think {
    background-color: #008cff;
    min-height: 250px;
    max-width: 1100px;
    padding: 50px;
}
.think h2 {
    color: white;
    font-style: bold;
    font-size: 3rem;
}
.think p {
    color: #333333;
}
.think .button {
    width: 10rem;
    height: 2rem;
    margin: 20px;
}
#clubs {
    font-size: 3rem;
    color: #3a3a3a;
}
.club-list {
    text-align: center;
    padding: 5px;
    margin: auto;
}
.club {
    background-color: white;
    border: 0.1em solid #FFFFFF;
    border-top-color: #edc02d;
    border-top-width: 5px;
    min-height: 350px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.1);
    padding: 10px;
    margin: 10px;
}
.club p {
    color: #7c7b78
}
#deals {
    font-size: 2.8rem;
    text-align: center;
    min-width: 320px;
    margin: 100px;
    margin-bottom:-3px;
    color: #3a3a3a;
}
#get {
    color: #7c7b78;
    font-size: 1.2em;
    padding-bottom: 60px;
}
.gift {
    text-align: start;
    background-color: white;
    border: 0.1em solid #FFFFFF;
    border-top-color: #edc02d;
    border-top-width: 5px;
    min-height: 350px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.1);
    padding: 30px;
    margin: auto;
}
.gift h3 {
    color: black
}
.gift b {
    font-size: 1.5em;
    color: #0099ff
}
.gift p {
    color: #7c7b78;
    line-height: 22pt;
}

.contact {
    background-image: url(../img/nissan-dark.jpg);
    background-size: cover;
    background-position: absolute;
    min-height: 700px;
    display: grid;
    text-align: left;
    padding: 30px;
    margin: auto;
    margin-bottom: 20px;
}
.contact a {
    font-weight: bold;
}
.contact h2, p, a, b {
    color: white;
}
.forma {
    background-color: whitesmoke;
    display: block;
    max-width: 350px;
    min-height: 455px;
    padding: 30px;
}

.copy-right  {
    color: #808080;
    padding: top 25px;
}